<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        HTML Elements Refrence
    </title>
</head>

<body>
    <h1>Welcome to our project</h1>
    <p>created by: A7a neek</p>
    @RenderBody()
</body>

</html>
